
@{
    ViewBag.Title = "Calculator";
}
@model Calcelerrere.Models.Calculate
<html>
<head>
    <body>
        <div align="center">
            @using (Html.BeginForm("Index", "Calculator", FormMethod.Post))
            {<h2>Credit Calc</h2>
                <div class="form-group">
                    <label for="no1">No1</label>
                    <input type="text" class="form-control" id="no1" name="FN" value="@Model.summ" />
                </div>
                <div class="form-group">
                    <label for="no2">No2</label>
                    <input type="text" class="form-control" id="no2" name="SN" value="@Model.time" />
                </div>
                <div class="form-group">
                    <label for="no3">No3</label>
                    <input type="text" class="form-control" id="no3" name="no3" value="@Model.percent" />
                </div>
                <div class="form-group">
                    <label for="total">total</label>
                    <input type="text" class="form-control" id="total" name="total" value="@Model.result" />
                </div>

                <button type="submit" class="btn vtn-prime" id="add" value="add" name="calculate">+</button>
                <button type="submit" class="btn vtn-prime" id="sub" value="sub" name="calculate">-</button>
                <button type="submit" class="btn vtn-prime" id="mul" value="mul" name="calculate">*</button>
                <button type="submit" class="btn vtn-prime" id="div" value="div" name="calculate">/</button>
            }
        </div>
    </body>
</head>
</html>